page-login {
  .warning {
    position: absolute;
    // padding: 20% 0;
    height: 100%;
    width: 100%;
    //background: rgba(25, 23, 156, 0.75);
    // backdrop-filter: contrast(4) blur(20px);
  }

  #outer {
    background: url("../assets/imgs/mobileappbackground.jpg")
      no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .btnLog {
    width: 100%;
    height: 50px;
  }

  .logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 45%;
    height: 18%;
    margin: 25% auto 7px auto;
    text-align: center;

    img {
      height: 120px;
      width: -webkit-fill-available;
    }
  }

  .logitem {
    // background-color: transparent;
    // padding-bottom: 5px;

    // ion-input {
    //   color: #ffffff;
    //   ::placeholder {
    //     color: #ffffff;
    //   }
    // }
    // border: 2px solid rgba(255, 255, 255, 0.842);
    // border-radius: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.842);

  }
  .logitem1 {
    background-color: transparent;

    p {
      color: #ea6153;
      margin: 0;
      padding: 0;
    }
  }
  .temp {
    padding-left: 13px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  ion-input {
    background-color: transparent;

    // padding: 5px 10px;
    // border: 2px solid rgba(255, 255, 255, 0.842);
    // border-radius: 5px;
  }

//   .text-input {

//   }

  .text-input::-moz-placeholder {
    color: white;
  }

  .text-input:-ms-input-placeholder {
    color: white;
  }

  .text-input::-webkit-input-placeholder {
    color: white;
  }

  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    // padding-right: 8px;
    border: none;
    background: transparent;
    color: white;
    font-weight: 400;
    font-size: 17px;
  }

  .btnDiv {
    padding-top: 10px;
    padding-left: 9px;
    padding-right: 11px;
  }
}
