<ion-content id=outer>
  <div class="warning">
    <!-- <div id=inner> -->
    <div class="logo">
      <img src="assets/imgs/icon.png">
    </div>
    <form [formGroup]="loginForm">
      <div class="temp">
        <ion-row style="height: 54px;
        border: 1px solid white;
        border-radius: 49px">
          <ion-col col-2 style="background: #20348c; text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="person" style="color: white; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <ion-input formControlName="username" type="text" placeholder="{{'Email/Mobile/User Id*' | translate}}" style="color: white;"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)">
        <p>{{'username required!' | translate}}</p>
      </ion-item>

      <div class="temp">
        <ion-row style="height: 54px;
        border: 1px solid white;
        border-radius: 49px">
          <ion-col col-2 style="background: #20348c; text-align: center; border-radius: 39px; height: 50px;">
            <ion-icon name="lock" style="color: white; font-size: 20px; margin: 8px;"></ion-icon>
          </ion-col>
          <ion-col col-8>
            <ion-input formControlName="password" *ngIf="!showPassword" type="password" placeholder="{{'Password*' | translate}}" style="color: white;"></ion-input>
            <ion-input formControlName="password" *ngIf="showPassword" type="text" placeholder="{{'Password*' | translate}}" style="color: white;"></ion-input>

          </ion-col>
          <ion-col col-2>
            <button ion-button clear item-end (click)="toggleShowPassword()">
              <ion-icon style="font-size: 1em;" *ngIf="showPassword" name="eye" color="red"></ion-icon>
              <ion-icon style="font-size: 1em;" *ngIf="!showPassword" name="eye-off" color="red"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-item class="logitem1" *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
        <p>{{'Password required!' | translate}}</p>
      </ion-item>
    </form>
    <div class="btnDiv">
      <ion-row>
        <!-- <ion-badge color="tertiary" slot="end">34k</ion-badge> -->
        <ion-col width-50 ion-text color="light" style="font-size: 1.1em; text-align: left; margin-left: 13px" (tap)="forgotPassFunc()" >
          {{'Remember me' | translate}} </ion-col>
        <!-- <ion-col width-50 ion-text color="light" style="font-size: 1.1em;">{{'New user?' | translate}}&nbsp;&nbsp;
          <span style="color:#d80622;" (tap)="gotosignuppage()">{{'SIGN UP' | translate}}</span>
        </ion-col> -->
      </ion-row>
    </div>
    <div class="btnDiv" (tap)="userlogin()">
      <button ion-button class="btnLog" color="light" style="border-radius: 53px;">
        LOGIN
      </button>
    </div>

    <!-- </div> -->
    <!-- <ion-row style="margin-top: 50%;">
      <ion-col col-12 style="text-align: center;">
        <p style="margin: 0px; color: #fff; font-weight: 500; font-size: 10px;">
          Call Support Time : 11 AM to 8 PM
        </p>
      </ion-col>
      <ion-col col-12>
        <p style="margin: 0px; color: #fff; font-weight: 500;font-size: 10px;">
          <ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
          support@oneqlik.in &nbsp;&nbsp; <ion-icon name="call"></ion-icon>&nbsp;&nbsp;
          +91 96737 77264
        </p>
      </ion-col>
    </ion-row> -->
  </div>
</ion-content>
